@media (max-width: 767px) {
    
    *{
        font-family: consolas;
    }

    body{
        display: flex;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        background: #232946;
    }

    #container{
        height: auto;
        width: auto;
    }

   .titulo{
        color: #fffffe;
        font-family: consolas;
    }

    .titulo h1{
        margin: 25px 0 0 35px;
        float: left;
    }

    .image{
        margin: 0 0 0 80px;
        margin-left: 175px;
    }
    .image:hover{
        cursor: pointer;
    }

    #lista-aula{
        gap: 20px;
        margin: 20px;
        padding: 0;
    }

    .aulas{
        display: flex;
        flex-direction: row;
        margin: 20px;
        width: 320px;
        height: 130px;
        border-radius: 4.5px;
        border: solid 2px #b8c1ec;
    }

    .aulas P{
        margin: 15 0 0 15px;
    }
    .aulas img{
        display: flex;
        gap: 555px;
        border-radius: 2px;
        margin: 3px;
        width: 145px;
        height: 125px;
    }

    p{
        padding: 0 0 0 10px;
        color: #fffffe;
    }
    
    a{
        text-decoration: none;
        font-weight: none;
    }

    footer {
        border-radius: 100px;
        background-color: #232946;
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }

    .footer-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-icon {
        text-decoration: none;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-icon i {
        font-size: 24px;
        margin-bottom: 5px;
    }

    footer img{
        width: 20px;
        height: 20px;
    }

}